<?xml version="1.0"?>
<launch>
  <node name="data_player" pkg="rosbag" type="play" args="$(find pcl_clustering)/sample_data/first_sample_data_2Hz.bag" output="screen"/>
  <node name="cluster_avia_reconfigurable" pkg="pcl_clustering" type="cluster_avia_reconfigurable" output="screen">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcl_clustering)/rviz/pcl_clustering.rviz" output="screen"/>
  
</launch>
